* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* The asterisk (*) is known as the CSS universal selector and is used to select any and all types of elements ins HTML page */


body {
    min-height: 100vh;
    color: black;
    font-size: 16px;
    /* background: url(imgs/IMG_9087.JPG) no-repeat;
    background-size: cover;
    background-position: center; */

}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 13px 25%;
    background: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;

}


.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;

}

/* Format underline when hovering on navbar */
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

/* Make underline when hovering on navbar */
.navbar a:hover::before {
    width: 100%;
}




.content1 {
    background-color: #fff;
    margin-top: 0;
    padding-top: 10%;
    padding-bottom: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif sans-serif;
    background-color: #fff;
    color: black;
    font-size: 30px;
}

.bg-frame {
    background-image: url(flowers.png);
    background-repeat: repeat;

}

.text-center {
    text-align: center;

}

.alignCenter {
    text-align: center;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.but-1 {
    width: 100px;
    height: 30px;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 8px;
    text-align: center;

}

.but-2 {
    width: 300px;
    height: 30px;
    font-size: 16px;
    margin: 15px 8px;
    text-align: center;
    border-radius: 15px;
}

table,
th,
td {

    border-collapse: collapse;
    padding: 5px;

}

table.center {
    margin-left: auto;
    margin-right: auto;
}